//read config file
def config = new ConfigSlurper().parse(new File('cgp_biobambam.prm').toURL())
props = config.toProperties()

LSF_JOB_NAME=props.LSF_JOB_NAME
THREADS=props.THREADS

LSF_Q=props.LSF_Q
LSF_MEMORY=props.LSF_MEMORY
LSF_ARRAY_START=props.LSF_ARRAY_START
LSF_ARRAY_END=props.LSF_ARRAY_END

LSF_Q_SCRAMBLE=props.LSF_Q_SCRAMBLE
LSF_MEMORY_SCRAMBLE=props.LSF_MEMORY_SCRAMBLE
LSF_ARRAY_START_SCRAMBLE=props.LSF_ARRAY_START_SCRAMBLE
LSF_ARRAY_END_SCRAMBLE=props.LSF_ARRAY_END_SCRAMBLE
LSF_THREADS_SCRAMBLE=props.LSF_THREADS_SCRAMBLE

LSF_Q_BAMSORT=props.LSF_Q_BAMSORT
LSF_MEMORY_BAMSORT=props.LSF_MEMORY_BAMSORT
LSF_ARRAY_START_BAMSORT=props.LSF_ARRAY_START_BAMSORT
LSF_ARRAY_END_BAMSORT=props.LSF_ARRAY_END_BAMSORT
LSF_THREADS_BAMSORT=props.LSF_THREADS_BAMSORT

LSF_Q_BAMCOLLATE2=props.LSF_Q_BAMCOLLATE2
LSF_MEMORY_BAMCOLLATE2=props.LSF_MEMORY_BAMCOLLATE2
LSF_ARRAY_START_BAMCOLLATE2=props.LSF_ARRAY_START_BAMCOLLATE2
LSF_ARRAY_END_BAMCOLLATE2=props.LSF_ARRAY_END_BAMCOLLATE2
LSF_THREADS_BAMCOLLATE2=props.LSF_THREADS_BAMCOLLATE2

def JOBID = System.getenv('LSB_JOBID');

executor="lsf"
procs="$THREADS"

lsf_request_options=" -P analysis-cgp -q $LSF_Q -R'select[mem>$LSF_MEMORY]  span[hosts=1] rusage[mem=$LSF_MEMORY]' -M$LSF_MEMORY -oo ${LSF_JOB_NAME}_default.%I.canPipe.log -J ${LSF_JOB_NAME}_default_${JOBID}'[$LSF_ARRAY_START-$LSF_ARRAY_END]'"

commands {

	lsf_SCRAMBLE {
		procs="$LSF_THREADS_SCRAMBLE"
		lsf_request_options=" -P analysis-cgp -q $LSF_Q -R'select[mem>$LSF_MEMORY_SCRAMBLE]  span[hosts=1] rusage[mem=$LSF_MEMORY_SCRAMBLE]' -M$LSF_MEMORY_SCRAMBLE -oo ${LSF_JOB_NAME}_SCRAMBLE.%I.canPipe.log -J ${LSF_JOB_NAME}_SCRAMBLE_${JOBID}'[$LSF_ARRAY_START_SCRAMBLE-$LSF_ARRAY_END_SCRAMBLE]'"
	}
	lsf_BAMSORT {
		procs="$LSF_THREADS_BAMSORT"
		lsf_request_options=" -P analysis-cgp -q $LSF_Q -R'select[mem>$LSF_MEMORY_BAMSORT]  span[hosts=1] rusage[mem=$LSF_MEMORY_BAMSORT]' -M$LSF_MEMORY_BAMSORT -oo ${LSF_JOB_NAME}_BAMSORT.%I.canPipe.log -J ${LSF_JOB_NAME}_BAMSORT_${JOBID}'[$LSF_ARRAY_START_BAMSORT-$LSF_ARRAY_END_BAMSORT]'"
	}
	lsf_BAMCOLLATE2 {
		procs="$LSF_THREADS_BAMCOLLATE2"
		lsf_request_options=" -P analysis-cgp -q $LSF_Q -R'select[mem>$LSF_MEMORY_BAMCOLLATE2]  span[hosts=1] rusage[mem=$LSF_MEMORY_BAMCOLLATE2]' -M$LSF_MEMORY_BAMCOLLATE2 -oo ${LSF_JOB_NAME}_BAMCOLLATE2.%I.canPipe.log -J ${LSF_JOB_NAME}_BAMCOLLATE2_${JOBID}'[$LSF_ARRAY_START_BAMCOLLATE2-$LSF_ARRAY_END_BAMCOLLATE2]'"
	}

}
