//load paramater file
def config = new ConfigSlurper().parse(new File('cgp_bamstats.prm').toURL())
props = config.toProperties()

//assign values to paramaters
LSF_MEMORY_BAMSTAT=props.LSF_MEMORY_BAMSTAT
LSF_Q_BAMSTAT=props.LSF_Q_BAMSTAT
LSF_ARRAY_START_BAMSTAT=props.LSF_ARRAY_START_BAMSTAT
LSF_ARRAY_END_BAMSTAT=props.LSF_ARRAY_END_BAMSTAT

LSF_JOB_NAME=props.LSF_JOB_NAME
LSF_THREADS_BAMSTAT=props.LSF_THREADS_BAMSTAT

def JOBID = System.getenv('LSB_JOBID');

//set HPC environment
executor="lsf"
procs="$THREADS"

lsf_request_options=" -P analysis-cgp -q $LSF_Q_BAMSTAT -R'select[mem>$LSF_MEMORY_BAMSTAT]  span[hosts=1] rusage[mem=$LSF_MEMORY_BAMSTAT]' -M$LSF_MEMORY_BAMSTAT -oo default_step.%I.canPipe.log -J default_step_${JOBID}'[$LSF_ARRAY_START_BAMSTAT-$LSF_ARRAY_END_BAMSTAT]'"
// stage specific paramaters
commands {
	lsf_BAMSTATS {
		procs="$LSF_THREADS_BAMSTAT"
		lsf_request_options=" -P analysis-cgp -n $THREADS -q $LSF_Q_BAMSTAT -R'select[mem>=$LSF_MEMORY_BAMSTAT]  span[hosts=1] rusage[mem=$LSF_MEMORY_BAMSTAT]' -M$LSF_MEMORY_BAMSTAT -oo ${LSF_JOB_NAME}_bamstat.%I.canPipe.log -J ${LSF_JOB_NAME}_BAMSTAT_${JOBID}'[$LSF_ARRAY_START_BAMSTAT-$LSF_ARRAY_END_BAMSTAT]'"
	}
}

