//read config file
def config = new ConfigSlurper().parse(new File('cgp_multibigwig.prm').toURL())
props = config.toProperties()

// set default parameters

LSF_Q=props.LSF_Q
LSF_MEMORY=props.LSF_MEMORY
LSF_JOB_NAME=props.LSF_JOB_NAME
THREADS=props.THREADS

//bamToBw catBw generateBw

LSF_Q_BAM_TO_BW_BASES=props.LSF_Q_BAM_TO_BW_BASES
LSF_MEMORY_BAM_TO_BW_BASES=props.LSF_MEMORY_BAM_TO_BW_BASES
LSF_ARRAY_START_BAM_TO_BW_BASES=props.LSF_ARRAY_START_BAM_TO_BW_BASES
LSF_ARRAY_END_BAM_TO_BW_BASES=props.LSF_ARRAY_END_BAM_TO_BW_BASES

config = new ConfigSlurper().parse(new File('cgp_resultloader.prm').toURL())
props = config.toProperties()

LSF_Q_RESULT=props.LSF_Q_RESULT
LSF_MEMORY_RESULT=props.LSF_MEMORY_RESULT
LSF_RESULT_ARRAY_START=props.LSF_RESULT_ARRAY_START
LSF_RESULT_ARRAY_END=props.LSF_RESULT_ARRAY_END
LSF_RESULT_JOB_NAME=props.LSF_RESULT_JOB_NAME
LSF_RESULT_THREADS=props.LSF_RESULT_THREADS
LSF_RESULT_PRIORITY=props.LSF_RESULT_PRIORITY
LSF_RESULT_NFS_TOKEN=props.LSF_RESULT_NFS_TOKEN

def JOBID = System.getenv('LSB_JOBID');

executor="lsf"
procs="1"


lsf_request_options=" -P analysis-cgp -q $LSF_Q -R'select[mem>500]  span[hosts=1] rusage[mem=500]' -M500 -oo default_step.%I.canPipe.log -J default_step_${JOBID}'[1]'"

commands {

	lsf_BAM_TO_BW_BASES {
		lsf_request_options="  -sp 40 -P analysis-cgp -q $LSF_Q_BAM_TO_BW_BASES -R'select[mem>$LSF_MEMORY_BAM_TO_BW_BASES] span[hosts=1] rusage[mem=$LSF_MEMORY_BAM_TO_BW_BASES]' -M$LSF_MEMORY_BAM_TO_BW_BASES -oo ${LSF_JOB_NAME}_BAM_TO_BW_BASES.%I.canPipe.log -J ${LSF_JOB_NAME}_BAM_TO_BW_BASES_${JOBID}'[$LSF_ARRAY_START_BAM_TO_BW_BASES-$LSF_ARRAY_END_BAM_TO_BW_BASES]'"
	}

  lsf_loadresults {
    procs="$LSF_RESULT_THREADS"
		lsf_request_options="  -P analysis-cgp -q $LSF_Q_RESULT -sp $LSF_RESULT_PRIORITY -R'select[casm_cgpirods>=$LSF_RESULT_NFS_TOKEN && mem>$LSF_MEMORY_RESULT] order[!slots] span[hosts=1] rusage[casm_cgpirods=$LSF_RESULT_NFS_TOKEN]' -R'rusage[mem=$LSF_MEMORY_RESULT]' -M$LSF_MEMORY_RESULT -oo resultloader.%I.canPipe.log -J ${LSF_RESULT_JOB_NAME}_RESULT_${JOBID}'[$LSF_RESULT_ARRAY_START-$LSF_RESULT_ARRAY_END]'"
	}
}
