//read config file
def config = new ConfigSlurper().parse(new File('cgp_allele_count.prm').toURL())
props = config.toProperties()

THREADS=props.THREADS
LSF_Q=props.LSF_Q
LSF_MEMORY=props.LSF_MEMORY
LSF_ARRAY_START=props.LSF_ARRAY_START
LSF_ARRAY_END=props.LSF_ARRAY_END

LSF_Q_ALLELE_COUNT=props.LSF_Q_ALLELE_COUNT
LSF_MEMORY_ALLELE_COUNT=props.LSF_MEMORY_ALLELE_COUNT
LSF_ARRAY_START_ALLELE_COUNT=props.LSF_ARRAY_START_ALLELE_COUNT
LSF_ARRAY_END_ALLELE_COUNT=props.LSF_ARRAY_END_ALLELE_COUNT
LSF_THREADS_ALLELE_COUNT=props.LSF_THREADS_ALLELE_COUNT

LSF_Q_ALLELE_COUNT_GENOTYPE=props.LSF_Q_ALLELE_COUNT_GENOTYPE
LSF_MEMORY_ALLELE_COUNT_GENOTYPE=props.LSF_MEMORY_ALLELE_COUNT_GENOTYPE
LSF_ARRAY_START_ALLELE_COUNT_GENOTYPE=props.LSF_ARRAY_START_ALLELE_COUNT_GENOTYPE
LSF_ARRAY_END_ALLELE_COUNT_GENOTYPE=props.LSF_ARRAY_END_ALLELE_COUNT_GENOTYPE
LSF_THREADS_ALLELE_COUNT_GENOTYPE=props.LSF_THREADS_ALLELE_COUNT_GENOTYPE

LSF_JOB_NAME_ALLELE_COUNT=props.LSF_JOB_NAME

def JOBID = System.getenv('LSB_JOBID');

executor="lsf"

lsf_request_options=" -P analysis-cgp -q $LSF_Q -R'select[mem>$LSF_MEMORY]  span[hosts=1] rusage[mem=$LSF_MEMORY]' -M$LSF_MEMORY -oo default_step.%I.canPipe.log -J default_step_${JOBID}'[$LSF_ARRAY_START-$LSF_ARRAY_END]'"

commands {
	    lsf_ALLELE_COUNT {
	    		procs="$LSF_THREADS_ALLELE_COUNT"
	        lsf_request_options=" -P analysis-cgp -q $LSF_Q_ALLELE_COUNT -R'select[mem>$LSF_MEMORY_ALLELE_COUNT]  span[hosts=1] rusage[mem=$LSF_MEMORY_ALLELE_COUNT]' -M$LSF_MEMORY_ALLELE_COUNT -oo bp_ALLELE_COUNT.%I.canPipe.log -J ${LSF_JOB_NAME_ALLELE_COUNT}_ALLELE_COUNT_${JOBID}'[$LSF_ARRAY_START_ALLELE_COUNT-$LSF_ARRAY_END_ALLELE_COUNT]'"
			}
		  lsf_ALLELE_COUNT_GENOTYPE {
		    procs="$LSF_THREADS_ALLELE_COUNT_GENOTYPE"
		    lsf_request_options=" -P analysis-cgp -q $LSF_Q_ALLELE_COUNT_GENOTYPE -R'select[mem>$LSF_MEMORY_ALLELE_COUNT_GENOTYPE]  span[hosts=1] rusage[mem=$LSF_MEMORY_ALLELE_COUNT_GENOTYPE]' -M$LSF_MEMORY_ALLELE_COUNT_GENOTYPE -oo bp_bgzip_ALLELE_COUNT_GENOTYPE.%I.canPipe.log -J ${LSF_JOB_NAME_ALLELE_COUNT}_ALLELE_COUNT_GENOTYPE_${JOBID}'[$LSF_ARRAY_START_ALLELE_COUNT_GENOTYPE-$LSF_ARRAY_END_ALLELE_COUNT_GENOTYPE]'"
		  }
}
