//read config file
def config = new ConfigSlurper().parse(new File('cgp_gripss.prm').toURL())
props = config.toProperties()

LSF_Q=props.LSF_Q
LSF_MEMORY=props.LSF_MEMORY
LSF_ARRAY_START=props.LSF_ARRAY_START
LSF_ARRAY_END=props.LSF_ARRAY_END

LSF_JOB_NAME=props.LSF_JOB_NAME
THREADS=props.THREADS

LSF_Q_GRIPSS=props.LSF_Q_GRIPSS
LSF_MEMORY_GRIPSS=props.LSF_MEMORY_GRIPSS
LSF_ARRAY_START_GRIPSS=props.LSF_ARRAY_START_GRIPSS
LSF_ARRAY_END_GRIPSS=props.LSF_ARRAY_END_GRIPSS
LSF_THREADS_GRIPSS=props.LSF_THREADS_GRIPSS

config = new ConfigSlurper().parse(new File('cgp_resultloader.prm').toURL())
props = config.toProperties()

LSF_Q_RESULT=props.LSF_Q_RESULT
LSF_MEMORY_RESULT=props.LSF_MEMORY_RESULT
LSF_RESULT_ARRAY_START=props.LSF_RESULT_ARRAY_START
LSF_RESULT_ARRAY_END=props.LSF_RESULT_ARRAY_END
LSF_RESULT_JOB_NAME=props.LSF_RESULT_JOB_NAME
LSF_RESULT_THREADS=props.LSF_RESULT_THREADS
LSF_RESULT_PRIORITY=props.LSF_RESULT_PRIORITY
LSF_RESULT_NFS_TOKEN=props.LSF_RESULT_NFS_TOKEN

def JOBID = System.getenv('LSB_JOBID');

executor="lsf"
procs="$THREADS"

lsf_request_options=" -P analysis-cgp -q $LSF_Q -R'select[mem>$LSF_MEMORY]  span[hosts=1] rusage[mem=$LSF_MEMORY]' -M$LSF_MEMORY -oo ${LSF_JOB_NAME}_default.%I.canPipe.log -J ${LSF_JOB_NAME}_default_${JOBID}'[$LSF_ARRAY_START-$LSF_ARRAY_END]'"

commands {
    lsf_GRIPSS {
        procs="$LSF_THREADS_GRIPSS"
        lsf_request_options=" -P analysis-cgp -q $LSF_Q_GRIPSS -R'select[mem>$LSF_MEMORY_GRIPSS]  span[hosts=1] rusage[mem=$LSF_MEMORY_GRIPSS]' -M$LSF_MEMORY_GRIPSS -oo ${LSF_JOB_NAME}_gripss.%I.canPipe.log -J ${LSF_JOB_NAME}_GRIPSS_${JOBID}'[$LSF_ARRAY_START_GRIPSS-$LSF_ARRAY_END_GRIPSS]'"
    }
    lsf_loadresults {
        procs="$LSF_RESULT_THREADS"
        lsf_request_options="  -P analysis-cgp -q $LSF_Q_RESULT -sp $LSF_RESULT_PRIORITY -R'select[casm_cgpirods>=$LSF_RESULT_NFS_TOKEN && mem>$LSF_MEMORY_RESULT] order[!slots] span[hosts=1] rusage[casm_cgpirods=$LSF_RESULT_NFS_TOKEN]' -R'rusage[mem=$LSF_MEMORY_RESULT]' -M$LSF_MEMORY_RESULT -oo resultloader.%I.canPipe.log -J ${LSF_RESULT_JOB_NAME}_RESULT_${JOBID}'[$LSF_RESULT_ARRAY_START-$LSF_RESULT_ARRAY_END]'"
    }
}
