//load parameter file
def config = new ConfigSlurper().parse(new File('cgp_bwamem.prm').toURL())
props = config.toProperties()

LSF_JOB_NAME=props.LSF_JOB_NAME
//assign values to parameters as listed in .prm file

LSF_Q_SETUP_SPLIT=props.LSF_Q_SETUP_SPLIT
LSF_MEMORY_SETUP_SPLIT=props.LSF_MEMORY_SETUP_SPLIT
LSF_ARRAY_START_SETUP_SPLIT=props.LSF_ARRAY_START_SETUP_SPLIT
LSF_ARRAY_END_SETUP_SPLIT=props.LSF_ARRAY_END_SETUP_SPLIT
LSF_THREADS_SETUP_SPLIT=props.LSF_THREADS_SETUP_SPLIT

LSF_Q_BWAMEM=props.LSF_Q_BWAMEM
LSF_MEMORY_BWAMEM=props.LSF_MEMORY_BWAMEM
LSF_ARRAY_START_BWAMEM=props.LSF_ARRAY_START_BWAMEM
LSF_ARRAY_END_BWAMEM=props.LSF_ARRAY_END_BWAMEM
LSF_THREADS_BWAMEM=props.LSF_THREADS_BWAMEM

LSF_Q_MARK=props.LSF_Q_MARK
LSF_MEMORY_MARK=props.LSF_MEMORY_MARK
LSF_ARRAY_START_MARK=props.LSF_ARRAY_START_MARK
LSF_ARRAY_END_MARK=props.LSF_ARRAY_END_MARK
LSF_THREADS_MARK=props.LSF_THREADS_MARK

LSF_Q_MOVE=props.LSF_Q_MOVE
LSF_MEMORY_MOVE=props.LSF_MEMORY_MOVE
LSF_ARRAY_START_MOVE=props.LSF_ARRAY_START_MOVE
LSF_ARRAY_END_MOVE=props.LSF_ARRAY_END_MOVE
LSF_THREADS_MOVE=props.LSF_THREADS_MOVE

def JOBID = System.getenv('LSB_JOBID');

//set HPC environment
executor="lsf"

//default options
lsf_request_options=" -P analysis-cgp  -q normal -R'select[mem>1000] span[hosts=1] rusage[mem=1000]' -M1000 -oo bwa_mem.%I.canPipe.log -J bwa_mem_${JOBID}'[1]'"

// stage specific paramaters
commands {
  lsf_SETUP_SPLIT {
    procs="$LSF_THREADS_SETUP_SPLIT"
    lsf_request_options=" -P analysis-cgp  -q $LSF_Q_SETUP_SPLIT -R'select[mem>=$LSF_MEMORY_SETUP_SPLIT] span[hosts=1] rusage[mem=$LSF_MEMORY_SETUP_SPLIT]' -M$LSF_MEMORY_SETUP_SPLIT -oo ${LSF_JOB_NAME}_SETUP_SPLIT.%I.canPipe.log -J ${LSF_JOB_NAME}_SETUP_SPLIT_${JOBID}'[$LSF_ARRAY_START_SETUP_SPLIT-$LSF_ARRAY_END_SETUP_SPLIT]'"
  }
  lsf_BWAMEM {
    procs="$LSF_THREADS_BWAMEM"
    lsf_request_options=" -P analysis-cgp  -q $LSF_Q_BWAMEM -R'select[mem>=$LSF_MEMORY_BWAMEM] span[hosts=1] rusage[mem=$LSF_MEMORY_BWAMEM]' -M$LSF_MEMORY_BWAMEM -oo ${LSF_JOB_NAME}_BWAMEM.%I.canPipe.log -J ${LSF_JOB_NAME}_BWAMEM_${JOBID}'[$LSF_ARRAY_START_BWAMEM-$LSF_ARRAY_END_BWAMEM]'"
  }
  lsf_MARK {
    procs="$LSF_THREADS_MARK"
    lsf_request_options=" -P analysis-cgp  -q $LSF_Q_MARK -R'select[mem>=$LSF_MEMORY_MARK] span[hosts=1] rusage[mem=$LSF_MEMORY_MARK]' -M$LSF_MEMORY_MARK -oo ${LSF_JOB_NAME}_MARK.%I.canPipe.log -J ${LSF_JOB_NAME}_MARK_${JOBID}'[$LSF_ARRAY_START_MARK-$LSF_ARRAY_END_MARK]'"
  }
  lsf_MOVE {
    procs="$LSF_THREADS_MOVE"
    lsf_request_options=" -P analysis-cgp  -q $LSF_Q_MOVE -R'select[mem>=$LSF_MEMORY_MOVE] span[hosts=1] rusage[mem=$LSF_MEMORY_MOVE]' -M$LSF_MEMORY_MOVE -oo ${LSF_JOB_NAME}_MOVE.%I.canPipe.log -J ${LSF_JOB_NAME}_MOVE_${JOBID}'[$LSF_ARRAY_START_MOVE-$LSF_ARRAY_END_MOVE]'"
  }
}


