//read config file
def config = new ConfigSlurper().parse(new File('cgp_vaf.prm').toURL())
props = config.toProperties()

LSF_JOB_NAME=props.LSF_JOB_NAME

LSF_Q_VAF=props.LSF_Q_VAF
LSF_MEMORY_VAF=props.LSF_MEMORY_VAF
LSF_ARRAY_START_VAF=props.LSF_ARRAY_START_VAF
LSF_ARRAY_END_VAF=props.LSF_ARRAY_END_VAF
LSF_THREADS_VAF=props.LSF_THREADS_VAF

def JOBID = System.getenv('LSB_JOBID');

executor="lsf"
procs="$LSF_THREADS_VAF"

commands {
	lsf_VAF {
		procs="$LSF_THREADS_VAF"
		lsf_request_options=" -P analysis-cgp -q $LSF_Q_VAF -R'select[mem>$LSF_MEMORY_VAF] span[hosts=1] rusage[mem=$LSF_MEMORY_VAF]' -M$LSF_MEMORY_VAF -oo ${LSF_JOB_NAME}_VAF.%I.canPipe.log -J ${LSF_JOB_NAME}_VAF_${JOBID}'[$LSF_ARRAY_START_VAF-$LSF_ARRAY_END_VAF]'"
	}
}

