//load irods prm file
def config = new ConfigSlurper().parse(new File('cgp_lane_bam.prm').toURL())
props = config.toProperties()

LSF_JOB_NAME_LBAM=props.LSF_JOB_NAME_LBAM
LSF_Q_LBAM=props.LSF_Q_LBAM
LSF_MEMORY_LBAM=props.LSF_MEMORY_LBAM
LSF_ARRAY_START_LBAM=props.LSF_ARRAY_START_LBAM
LSF_ARRAY_END_LBAM=props.LSF_ARRAY_END_LBAM
LSF_THREADS_LBAM=props.LSF_THREADS_LBAM

def JOBID = System.getenv('LSB_JOBID');

executor="lsf"

commands {
	lsf_streamrg {
	  procs="$LSF_THREADS_LBAM"
      lsf_request_options=" -P analysis-cgp  -q $LSF_Q_LBAM -R'select[mem>=$LSF_MEMORY_LBAM] span[hosts=1] rusage[mem=$LSF_MEMORY_LBAM]' -M$LSF_MEMORY_LBAM -oo ${LSF_JOB_NAME_LBAM}.%I.canPipe.log -J ${LSF_JOB_NAME_LBAM}_LBAM_${JOBID}'[$LSF_ARRAY_START_LBAM-$LSF_ARRAY_END_LBAM]'"
  }
}
