//read config file
def config = new ConfigSlurper().parse(new File('cgp_jlshearwater.prm').toURL())
props = config.toProperties()

LSF_Q=props.LSF_Q
LSF_MEMORY=props.LSF_MEMORY
LSF_ARRAY_START=props.LSF_ARRAY_START
LSF_ARRAY_END=props.LSF_ARRAY_END

LSF_JOB_NAME=props.LSF_JOB_NAME
THREADS=props.THREADS

LSF_Q_JLSW_SPLIT=props.LSF_Q_JLSW_SPLIT
LSF_MEMORY_JLSW_SPLIT=props.LSF_MEMORY_JLSW_SPLIT
LSF_ARRAY_START_JLSW_SPLIT=props.LSF_ARRAY_START_JLSW_SPLIT
LSF_ARRAY_END_JLSW_SPLIT=props.LSF_ARRAY_END_JLSW_SPLIT
LSF_THREADS_JLSW_SPLIT=props.LSF_THREADS_JLSW_SPLIT

LSF_Q_JLSW_COUNT=props.LSF_Q_JLSW_COUNT
LSF_MEMORY_JLSW_COUNT=props.LSF_MEMORY_JLSW_COUNT
LSF_ARRAY_START_JLSW_COUNT=props.LSF_ARRAY_START_JLSW_COUNT
LSF_ARRAY_END_JLSW_COUNT=props.LSF_ARRAY_END_JLSW_COUNT
LSF_THREADS_JLSW_COUNT=props.LSF_THREADS_JLSW_COUNT

LSF_Q_JLSW_GATHERCOUNT=props.LSF_Q_JLSW_GATHERCOUNT
LSF_MEMORY_JLSW_GATHERCOUNT=props.LSF_MEMORY_JLSW_GATHERCOUNT
LSF_ARRAY_START_JLSW_GATHERCOUNT=props.LSF_ARRAY_START_JLSW_GATHERCOUNT
LSF_ARRAY_END_JLSW_GATHERCOUNT=props.LSF_ARRAY_END_JLSW_GATHERCOUNT
LSF_THREADS_JLSW_GATHERCOUNT=props.LSF_THREADS_JLSW_GATHERCOUNT

config = new ConfigSlurper().parse(new File('cgp_resultloader.prm').toURL())
props = config.toProperties()

LSF_Q_RESULT=props.LSF_Q_RESULT
LSF_MEMORY_RESULT=props.LSF_MEMORY_RESULT
LSF_RESULT_ARRAY_START=props.LSF_RESULT_ARRAY_START
LSF_RESULT_ARRAY_END=props.LSF_RESULT_ARRAY_END
LSF_RESULT_JOB_NAME=props.LSF_RESULT_JOB_NAME
LSF_RESULT_THREADS=props.LSF_RESULT_THREADS
LSF_RESULT_PRIORITY=props.LSF_RESULT_PRIORITY
LSF_RESULT_NFS_TOKEN=props.LSF_RESULT_NFS_TOKEN

def JOBID = System.getenv('LSB_JOBID');

executor="lsf"
procs="$THREADS"

lsf_request_options=" -P analysis-cgp -q $LSF_Q -R'select[mem>$LSF_MEMORY]  span[hosts=1] rusage[mem=$LSF_MEMORY]' -M$LSF_MEMORY -oo ${LSF_JOB_NAME}_default.%I.canPipe.log -J ${LSF_JOB_NAME}_default_${JOBID}'[$LSF_ARRAY_START-$LSF_ARRAY_END]'"

commands {
    lsf_JLSW_SPLIT {
        procs="$LSF_THREADS_JLSW_SPLIT"
        lsf_request_options=" -P analysis-cgp -q $LSF_Q_JLSW_SPLIT -R'select[mem>$LSF_MEMORY_JLSW_SPLIT]  span[hosts=1] rusage[mem=$LSF_MEMORY_JLSW_SPLIT]' -M$LSF_MEMORY_JLSW_SPLIT -oo ${LSF_JOB_NAME}_split.%I.canPipe.log -J ${LSF_JOB_NAME}_JLSW_SPLIT_${JOBID}'[$LSF_ARRAY_START_JLSW_SPLIT-$LSF_ARRAY_END_JLSW_SPLIT]'"
    }
    lsf_JLSW_COUNT {
        procs="$LSF_THREADS_JLSW_COUNT"
        lsf_request_options=" -P analysis-cgp -q $LSF_Q_JLSW_COUNT -R'select[mem>$LSF_MEMORY_JLSW_COUNT]  span[hosts=1] rusage[mem=$LSF_MEMORY_JLSW_COUNT]' -M$LSF_MEMORY_JLSW_COUNT -oo ${LSF_JOB_NAME}_count.%I.canPipe.log -J ${LSF_JOB_NAME}_JLSW_COUNT_${JOBID}'[$LSF_ARRAY_START_JLSW_COUNT-$LSF_ARRAY_END_JLSW_COUNT]'"
    }
    lsf_JLSW_GATHERCOUNT {
        procs="$LSF_THREADS_JLSW_GATHERCOUNT"
        lsf_request_options=" -P analysis-cgp -q $LSF_Q_JLSW_GATHERCOUNT -R'select[mem>$LSF_MEMORY_JLSW_GATHERCOUNT]  span[hosts=1] rusage[mem=$LSF_MEMORY_JLSW_GATHERCOUNT]' -M$LSF_MEMORY_JLSW_GATHERCOUNT -oo ${LSF_JOB_NAME}_gathercount.%I.canPipe.log -J ${LSF_JOB_NAME}_JLSW_GATHERCOUNT_${JOBID}'[$LSF_ARRAY_START_JLSW_GATHERCOUNT-$LSF_ARRAY_END_JLSW_GATHERCOUNT]'"
    }
    lsf_loadresults {
        procs="$LSF_RESULT_THREADS"
        lsf_request_options="  -P analysis-cgp -q $LSF_Q_RESULT -sp $LSF_RESULT_PRIORITY -R'select[casm_cgpirods>=$LSF_RESULT_NFS_TOKEN && mem>$LSF_MEMORY_RESULT] order[!slots] span[hosts=1] rusage[casm_cgpirods=$LSF_RESULT_NFS_TOKEN]' -R'rusage[mem=$LSF_MEMORY_RESULT]' -M$LSF_MEMORY_RESULT -oo resultloader.%I.canPipe.log -J ${LSF_RESULT_JOB_NAME}_RESULT_${JOBID}'[$LSF_RESULT_ARRAY_START-$LSF_RESULT_ARRAY_END]'"
    }
}
