//load paramater file
def config = new ConfigSlurper().parse(new File('cgp_baitappend.prm').toURL())
props = config.toProperties()

//assign values to paramaters
LSF_MEMORY=props.LSF_MEMORY_baitappend
LSF_JOBNAME=props.LSF_JOBNAME
LSF_Q=props.LSF_Q_baitappend
LSF_ARRAY_START=props.LSF_ARRAY_START_baitappend
LSF_ARRAY_END=props.LSF_ARRAY_END_baitappend

LSF_JOB_NAME=props.LSF_JOB_NAME
THREADS=props.THREADS

def JOBID = System.getenv('LSB_JOBID');

//set HPC environment
executor="lsf"
procs="$THREADS"

lsf_request_options=" -P analysis-cgp -q $LSF_Q -R'select[mem>$LSF_MEMORY]  span[hosts=1] rusage[mem=$LSF_MEMORY]' -M$LSF_MEMORY -oo default_step.%I.canPipe.log -J default_step_${JOBID}'[$LSF_ARRAY_START-$LSF_ARRAY_END]'"
// stage specific paramaters
commands {
	lsf_COVERAGE {
		procs="$THREADS"
		lsf_request_options=" -P analysis-cgp -n $THREADS -q $LSF_Q -R'select[mem>=$LSF_MEMORY]  span[hosts=1] rusage[mem=$LSF_MEMORY]' -M$LSF_MEMORY -oo ${LSF_JOB_NAME}_coverage.%I.canPipe.log -J ${LSF_JOB_NAME}_coverage_${JOBID}'[$LSF_ARRAY_START-$LSF_ARRAY_END]'"
	}
}

